# Configuración MySQL
DB_HOST=br5itqfacogjlrr45495-mysql.services.clever-cloud.com
DB_PORT=3306
DB_NAME=br5itqfacogjlrr45495
DB_USER=uupkorupcllhztvz
DB_PASSWORD=bGwQ9SY7TkItaGWYSdIi

#Opcional: Configuración de conexión avanzada
#DB_CHARSET=utf8mb4
#DB_COLLATION=utf8mb4_unicode_ci
