# Configuración MySQL
DB_HOST=sql.freedb.tech
DB_PORT=3306
DB_NAME=freedb_CreditRiskDB
DB_USER=freedb_user_credit
DB_PASSWORD=?z2ESa6nA@PJvY5

#Opcional: Configuración de conexión avanzada
#DB_CHARSET=utf8mb4
#DB_COLLATION=utf8mb4_unicode_ci